<h1 align="center">ng-rout</h1>
        <ul class="instructions">
            <li>Вывод контента будет происходить в <b class="new">ng-view</b></li>
            <li>Ссылки делаем вида <b class="new">ng-href="#/ngrout"</b>, если ссылка стала не активной,<br>
                значит где то в пути к странице или в том что связанно со страницей куда ведёт ссылка, возникла проблема.<br>
             Ссылки всегда начинаются со знаков <b class="new">#/</b></li>
            <hr style="border-top: 1px solid red;">
        </ul>
        <ul class="instructions">
            <li class="big">Теперь вписываем Роутинг</li>
            <li><b class="new">.when('/ngrout', {</b> - первой строчкой мы указуем что надо осущиствить подгрузку другой страницы<br>
                когда будет зафиксирован переход по /ngrout</li>
            <li><b class="new">templateUrl: 'app/main/template/ngrout/list.html',</b> - указываем url страницы которая будет подгруженна</li>
            <li><b class="new">controller: 'NgController',</b> - так же прикрепляем Контроллер для этой страницы</li>
            <li><b class="new">controllerAs: 'main'})</b> - и последним указываем общий Кантралёр для всех страниц в роутинге<br>
                НО ОН НЕ ОБЯЗАТЕЛЕН - но без него пок ане работает</li>
            <li>В итоге получаем такую вот запись в index.rout.js<br>
                <b class="new">.when('/ngrout', {<br>
                    &#8195;templateUrl: 'app/main/template/ngrout/list.html',<br>
                    &#8195;controller: 'NgController',<br>
                    &#8195;controllerAs: 'main'<br>
                    })</b></li>
            <hr style="border-top: 1px solid red;">
        </ul>
        <ul class="instructions">
            <li class="big">Создаём подключаемые фаилы html, js</li>
            <li>Создал папку ngrout по пути который указал выше templateUrl: 'app/main/template/ngrout/list.html'</li>
            <li>Создаём в ней <b class="new">list.html</b> - с контентом</li>
            <li>Создаём в ней <b class="new">list.cont.js</b> - наш контралёр</li>
            <hr style="border-top: 1px solid red;">
        </ul>
        <ul class="instructions">
            <li class="big">Вписываем Контралёр</li>
            <li><b class="new">(function(){<br>
                'use strict'</b> - открываем самовызываю.функцию и указуем Строгий режим для js</li>
            <li><b class="new">angular.module('angularGulp')</b> - указываем главный модуль angularGulp</li>
            <li><b class="new">.controller('NgController', function(){<br>
                //      alert()<br>
                });</b> - теперь указываем наш Контралёр который мы указали в Роутинге NgController после чего происходит <br>
            запуск функции в которой мы и можем писать наш js</li>
            <li>На выходе получаем:<br><b class="new">(function(){<br>
                &#8195;'use strict'<br>
                <br>
                &#8195;angular.module('angularGulp')<br>
                &#8195;&#8195;.controller('NgController', function(){<br>
                &#8195;&#8195;&#8195;//      alert()<br>
                &#8195;&#8195;});<br>
                })();</b></li>
            <hr style="border-top: 1px solid red;">
        </ul>
        <h1>Теперь мы можем создавать меню, ссылки и подключаемые страницы с кантралёрами! Работающий каркас приложения</h1>