<h1 align="center">{ { } } - Выводит значение или делает операцию</h1>

        <ul class="instructions">
            <li>Можно использовать в качестве вывода контента</li>
            <li>Подставить как класс</li>
            <li>Подставить как атрибут</li>
            <li>Сложить Умножить Отнять..в них что либо</li>
        </ul>