<h1 align="center">ng-if - Удоляет или показует DOM елемент</h1>

<ul class="instructions">
    <li>
        <button ng-click="a=!a">Отобразить элемент</button>
        <p ng-if="!a">Я текст</p>
        <p>
            < button ng-click="a=!a">Отобразить элемент< /button><br/>
            < p ng-if="!a">Я текст< /p><br/>
        </p>
    </li>
</ul>