<h1 align="center">ng-model</h1>

        <ul class="instructions">
            <li ng-model="a">Создадим переменную и выведим - {{a}} - не чего нету потому что переменная пуста</li>
            <li class="{{a}}"></li>

            <p>
                < li ng-model="a">Создадим переменную и выведим - { {a} } - не чего нету потому что переменная пуста< /li><br/>
                < li class="{ {a} }"></li>
            </p>
        </ul>
