<h1 align="center">Выбор и установка шаблона</h1>

<h2>Выбор</h2>
        <p class="sborca">1) yoman + ng-rout + Gulp</p>



<h2>Установка</h2>
    <p>
        1)<br>
        <ul class="instructions">
            <li>Заходим в папку в которую будем сливать шаблон</li>
            <li>С Битбакета стягиваем шаблон AngularGulp ( git clone git@bitbucket.org:dima123/carcassgulpngrout.git )</li>
            <li>Открываем шаблон и устанавливаем bower и npm пакеты ( npm install && bower install )</li>
            <li>Проект готов к работе, запуск через grunt serve</li>
            <br>
            <li>Если нужно залить будет на bitbacet то :</li>
            <li>Создаём проект на bitbacet</li>
            <li>Инициализируем репозиторий ( git init )</li>
            <li>Заливаем наш проект на bit. ( ...там команда будет )</li>
        </ul>
    </p>

