<h1 align="center">Практика : ng-model, ng-click, ng-if, ng-class, ng-show</h1>
    <style>
        .pr1-bl1 {
            border: solid thin blue;
            width: 300px;
            height: 300px;
        }
        .pr1-bl2 {
            border: solid thin red;
            width: 300px;
            height: 300px;
            opacity: 0;
            background-color: greenyellow;
            transition: all 0.8s;
        }
        .pr1-bl2.open {
            opacity: 1;
        }
    </style>

    <h3>ng-click, ng-hide, ng-show</h3>
    <button>
        <span ng-hide="a" ng-click="a = !a">Показать</span>
        <span ng-show="a" ng-click="a = !a">Спрятать</span>
    </button>
    <div class="pr1-bl1" ng-show="a"></div>

    <hr />

    <h3>ng-class, ng-click, ng-hide, ng-show плавная анимация из css</h3>
    <button>
        <span ng-hide="b" ng-click="b = !b">Показать</span>
        <span ng-show="b" ng-click="b = !b">Спрятать</span>
    </button>
    <div class="pr1-bl2" ng-class="{'open': b}"></div>

    <hr />

    <ul class="drop-menu" ng-model="visible">
        <li class="item" ng-click="visible != 'item-1' ? visible = 'item-1' : visible = ''">Пункт 1</li>
        <li class="link-hidden item-1" ng-class="{'vis': visible == 'item-1'}">
            <a ng-href="#">Ссылка 1</a>
            <a ng-href="#">Ссылка 2</a>
            <a ng-href="#">Ссылка 3</a>
            <p class="item" ng-click="visible2 = 'item-1-1'">Под меню</p>
            <p class="link-hidden item-1-1" ng-class="{'vis': visible2 == 'item-1-1'}">
                <a ng-href="#">Ссылка 1</a>
                <a ng-href="#">Ссылка 2</a>
                <a ng-href="#">Ссылка 3</a>
            </p>
        </li>
        <li class="item" ng-click="visible = 'item-2'">Пункт 2</li>
        <li class="link-hidden item-2" ng-class="{'vis': visible == 'item-2'}">
            <a ng-href="#">Ссылка 1</a>
        </li>
        <li class="item" ng-click="visible = 'item-3'">Пункт 3</li>
        <li class="link-hidden item-3" ng-class="{'vis': visible == 'item-3'}">
            <a ng-href="#">Ссылка 1</a>
            <a ng-href="#">Ссылка 2</a>
            <a ng-href="#">Ссылка 3</a>
        </li>
    </ul>

