html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.index-menu {
    position: absolute;
}
.index-content {
    position: relative;
    width: 100%;
    min-height: 100%;
    /*border: solid thin red;*/
    padding-left: 300px;
    /*background-color: #CCCCCC;*/
}
.index-menu {
    width: 260px;
    min-height: 100%;
    z-index: 200;
    border: solid thin #000000;
    /*background-color: blue;*/
}
.index-menu a {
    color: dodgerblue;
    display: block;
    background-color: #EFEFEF;
    padding: 10px 0px;
    border-top: solid thin white;
    text-shadow: 0px 0px 21px rgba(255,255,255,0.5);
    font-size: 15px;
    padding-left: 10px;
}

ul.instructions {
    list-style-type: decimal;
}
.old {
    color: red;
}
.new {
    color: dodgerblue;
}
li.big {
    font-size: 20px;
}
button.bt1.red {
    background-color: red;
}
button.bt2.true {
    background-color: #008000;
}
p.rrr.red {
    color: red;
}
.ani-bl1 {
    position: absolute;
    right: 0px;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}
.ani-bl1.active {
    right: 200px;
}

.drop-menu {
    width: 200px;
}
.drop-menu li {
    list-style: none;
    background-color: #425666;
    cursor: pointer;
}
.drop-menu .item {
    color: white;
    padding: 11px;
    border-top: solid thin white;
    transition: all 0.5s;
}
.drop-menu p.item {
    border: none;
    margin: 0px;
}
.drop-menu p.link-hidden {
    padding-left: 20px;
    margin: 0px;
}
.drop-menu .item:hover {
    background-color: #536C81;
}
.drop-menu .item:first-child {
    border: none;
}
.drop-menu .link-hidden {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
.drop-menu .link-hidden a {
    display: block;
    color: white;
    padding: 11px;
}
.drop-menu .link-hidden.vis {
    max-height: 305px;
}