<!doctype html>
<html ng-app="angularGulp">
  <head>
    <meta charset="utf-8">
    <title>angularGulp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="index-menu">
        <a ng-href="#/template">Выбор и установка шаблона</a>
        <b style="display: block;text-align: center">Основы работы</b>
        <a ng-href="#/ngrout">ng-rout и ссылки</a>
        <a ng-href=""></a>
        <a ng-href=""></a>
        <a ng-href=""></a>
        <b style="display: block;text-align: center">Работа с DOM</b>
        <a ng-href="#/skobki">{ { } } - выводит значение и оп.</a>
        <a ng-href="#/ngmodel">ng-model - создаём переменную</a>
        <a ng-href="#/ngclick">ng-click - действия по клику</a>
        <a ng-href="#/ngif">ng-if - удоление из DOM</a>
        <a ng-href="#/ngclass">ng-class - добавит-удолит css класс</a>
        <a ng-href="#/ngshhi">ng-show,ng-hide - показать-скрыть елемент</a>
        <a ng-href="#/ngAnimate">ngAnimate vs CSS - фнимация с CSS</a>
        <a ng-href="#/practic1" style="color: goldenrod">Практика -model,click,if,class,show</a>
        <b>Работа с Формами</b>
        <a ng-href="#/form">простая форма</a>
        <a ng-href="#/"></a>
        <a ng-href="#/"></a>
    </div>
    <div class="index-content">
        <div ng-view></div>
    </div>



    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
