<h1 align="center">ng-show,ng-hide - Показать-Скрыть елемент</h1>

<ul class="instructions">
    <li>
        <button ng-model="open" ng-click="open=!open">OK</button>
        <p ng-show="open">aaaaa</p>
        <p ng-hide="open">bbbbb</p>
    </li>
    <p>
        < li><br/>
            < button ng-model="open" ng-click="open=!open">OK< /button><br/>
            < p ng-show="open">aaaaa< /p><br/>
            < p ng-hide="open">bbbbb< /p><br/>
        < /li>
    </p>
</ul>