<h1 align="center">ng-class - Добовляет или удоляет css класс</h1>

<ul class="instructions">
    <li>
        <button ng-click="a = 'red'">По нажатию добавим класс</button>
        <p class="rrr" ng-class="a">sdfsdfsdf</p>
    </li>
    <p>
        < button ng-click="a = 'red'">По нажатию добавим класс< /button><br/>
        < p class="rrr" ng-class="a">sdfsdfsdf< /p><br/>
    </p>
</ul>