<h1 align="center">ngAnimate vs CSS - фнимация с CSS</h1>

<ul class="instructions">
    <li>
        <button ng-click="a=!a">Выдвинуть блок</button> Пока не работает
        <div class="ani-bl1" ng-class="{'active': a}"></div>
    </li>

</ul>