<h1 align="center">ng-click - Выполниться когда на элементе будет произведён click</h1>

        <ul class="instructions">
            <li>Cоздали переменную -а- на этой Лишке</li>
            <li ng-model="a">По клику на кнопку добовляем ей новый класс <button class="bt1 {{a}}" ng-click="a='red'">Я стану красной</button></li>
            <li ng-model="b">По клику добовляем-снимаем класс <button class="bt2 {{b}}" ng-click="b = !b">Переключатель</button></li>

            <p>
                < li ng-model="a">По клику на кнопку добовляем ей новый класс < button class="bt1 { {a} }" ng-click="a='red'">Я стану красной< /button>< /li><br/>
                < li ng-model="b">По клику добовляем-снимаем класс < button class="bt2 { {b} }" ng-click="b = !b">Переключатель< /button>< /li>
            </p>
        </ul>